$color-font: #2e2e2e; // 404040
$color-link: #3088d0; // 52a2de 55acee // sage green 90A681, some blue?
$color-link-hover: #444444; 
$color-background: #fcfcfc; // fafafa, fbfdf8, fafaf8
////$color-header-background: #2e2e2e; // f5f5f5, f5f5f2 
$color-header-background: #f5f5f5;
//$color-header-background: #f4f4f4;
//$color-header-background: #f2f2f2;
//$color-header-background: #F0F0ED; // (change 3)
//$color-header-background: #36363d; // (change 2)
////$color-header-font: #f5f5f5;
$color-header-font: #9a9a9a;
//$color-header-font: #2e2e2e;
//$color-header-font: #8E8682; // (change 3)
//$color-header-font: #3e3e3e;
//$color-header-font: rgba(255, 255, 255, 0.6); // (change 2)
//$color-border: #8ae28a; // green border also interesting
//$color-border: #e2e2e2;
$color-border: #e5e5e5;
$color-font-heading: #2e3b40;
$color-twitter: #55acee;
$color-rss: #FF6600;
$color-github: #ccc;
$color-border-bottom: #ddd;
$color-border-top: #fff;
$color-green: #5cb85c; 

// TODO https://github.com/features ... buttons below "Integrated issue tracking."
// use them for header buttons but align them to the right. Right against the border.

/*
$color-header-background: #f4f4f4;
$color-header-font: #2e2e2e;
$color-border: #e2e2e2;
*/